<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:px-2 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h2 class="tracking-widest font-bold text-6xl">Your cloud bioinformatics toolkit</h1>
      <br><br>
        <p class="tracking-widest text-3xl">Get started:</p>
        <code class="text-lg codeblock bg-gray-200">&nbsp$ pip install bioshed&nbsp</code>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/toolbox-free-2.png" alt="BioShed">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-red-500 rounded-full shadow-md text-lg hover:bg-red-700 hover:border-red"
    href="#products">What's in the toolkit?</a>
</div>
